<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .body{
            background-color: rgb(1, 11, 48);
            width: 100vw;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        body{
            padding: 0;
            margin: 0;
        }
        .login-page{
            background-color: rgba(255, 255, 255, 0.119);
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
<div class="body">
    <div class="login-page">
        <p>hi</p>
    </div>

</div>
</body>
</html>