<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registerpage</title>
</head>
<body>
        <div>
                <form action="/create" method="post">
                        <input class="input-box" type="text" placeholder="username" name="username" > <br>
                        <input class="input-box" type="text" placeholder="email" name="email" > <br>
                        <input class="input-box" type="password" placeholder="password" name="password" > <br>
                        <input class="input-box" type="number" placeholder="age" name="age" > <br>
                        <button>submit</button>
                </form>
        </div>
</body>
</html>